<ul *ngIf="offer">
    <li><span class="draft">id</span> {{offer.id}}</li>
    <li><span class="draft">title </span> {{offer.title}}</li>
    <li><span class="draft">description </span> {{offer.description}}</li>
    <li class="public-key"> <span class="draft">PK</span> {{offer.owner}}</li>
    <li class="tag" *ngFor="let one of getKeys(offer.tags)">
      {{one}} : {{offer.tags.get(one)}}
    </li>
    <ul>
        <li class="tag" *ngFor="let price of offer.offerPrices">
            {{price.id}}) {{price.description}} : {{price.worth}} CAT
            <a (click)="acceptOfferWithPrice(price)" href="">accept</a>
            <ul>
                <li class="tag" *ngFor="let rule of price.rules">
                    {{rule.id}}) {{rule.rulesKey}} : {{rule.value}} : {{rule.rule}}

                </li>
            </ul>
        </li>
    </ul>

</ul>

