<div class="wrapper-landing">
	<div class="wrapper_header">
	<div class="flex-container">
		<div class="flex-item">
			<div class="wrapper_logo">
				<a href="javascript:void(0);"><span></span></a>
			</div>
		</div>
	</div>
	</div>
</div>

<div class="wrapper_banner">
	<img src="assets/pexels-photo-914931.png" alt="">
	<div class="wrapper-resize-text">
	<div class="wrapper_vertical-position">
		<div class="banner_text">
			<h2>Do not let your personal data profit someone else</h2>
			<p>Get rewarded by sharing your valuable information</p>
			<a href="https://base-auth-frontend-staging.herokuapp.com/auth/signup/landing" target="_blank"><span>Join BASE</span></a>
		</div>
		<div class="how_it_works">
			<a href="javascript:void(0);"><span>How it works?</span></a>
		</div>
	</div>
	</div>
</div>

<div class="wrapper-landing">
	<div class="container">
		<div class="wrapper_work_two_column">
			<div class="flex-container">
			<div class="flex-item">
				<div class="earn_rewards">
				<div class="max-width">
					<section>
						<h4>How internet<br>works today</h4>
						<div class="emoji_1"><img src="assets/sad.png" alt=""></div>
						<p>To use the Internet, you often use your personal data, which are then collected by companies and other companies pays alot for this data.</p>
						<p>Let's stop it!</p>
					</section>
				</div>
				</div>
			</div>
			<div class="flex-item">
				<div class="border_blue_box">
				<div class="earn_rewards">
				<div class="max-width">
					<h4>How internet works<br>with BASE</h4>
					<div class="emoji_3"><img src="assets/emoji.png" alt=""></div>
					<p>You define what kind of personal data you share. For this you receive relevant proposals from advertisers and get paid for it.</p>
				</div>
				</div>
			</div>
			</div>
			</div>
			<div class="splitter"><span></span></div>
			<div class="earn_rewards">
				<h3>Earn CAT rewards</h3>
				<div class="max-width">
					<div class="wrapper_inline_block">
					<span class="image"><img src="assets/yellow.png" alt=""></span><span>&nbsp;&nbsp;1&nbsp;CAT&nbsp;&nbsp;=&nbsp;&nbsp;</span><span class="large">$&nbsp;98</span>
					</div>
				</div>

				<div class="max-width">
				<p>You earn CAT rewards by sharing your data with BASE. Add your wallets, give access to your wallet balance and earn even more money! We will never share it with anyone.</p>
				</div>
			</div>

			<div class="splitter"><span></span></div>
			<div class="earn_rewards">
				<h3>Start getting paid</h3>
				<div class="emoji_2"><img src="assets/emoji_2.png" alt=""></div>
				<div class="max-width">
				<p class="big">Register</p>
				<p class="big">Share your data</p>
				<p class="big">Get paid</p>
				</div>
			</div>
		</div>
	</div>
</div>