<div class="search-request-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Search Request testing</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="verticalContainer">
                <mat-slide-toggle
                  (change)="getAllRequests($event)">
                  get all requests
                </mat-slide-toggle>
                <div *ngIf="searchRequests">
                  <app-search-request-item *ngFor="let item of searchRequests" [request]="item">
                  </app-search-request-item>
                </div>

                <mat-slide-toggle
                  (change)="createRequest($event)">
                  create request
                </mat-slide-toggle>
                <div *ngIf="createdSearchRequest">
                  <app-search-request-item [request]="createdSearchRequest"> </app-search-request-item>
                </div>

                <!-- <mat-slide-toggle
                  (change)="updateRequest($event)">
                  update request
                </mat-slide-toggle> -->

                <mat-slide-toggle
                  (change)="deleteRequest($event)">
                  delete request
                </mat-slide-toggle>

                <mat-slide-toggle [disabled]="ethWallet"
                  (change)="addWallets($event)">
                  get vaulet
                </mat-slide-toggle>
                <pre>{{ethWallet | json}}</pre>

                <mat-slide-toggle
                  (change)="getSearchResultByRequestId($event)">
                  get saarch result by request id=
                  <span *ngIf="createdSearchRequest">{{createdSearchRequest.id}}</span>
                </mat-slide-toggle>
                <div *ngIf="offers">
                    <app-offer-item *ngFor="let one of offers" [offer]="one"></app-offer-item>
                  <!-- <pre *ngFor="let offer of offers">{{offer|json}}</pre> -->
                </div>


            </div>
        </mat-card-content>
    </mat-card>
</div>



