<div class="offer-request-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Offer testing</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="verticalContainer">
                <mat-slide-toggle
                  (change)="getAllRequests($event)">
                  get all offers
                </mat-slide-toggle>
                <pre *ngIf="offers">{{offers|json}}</pre>

                <mat-slide-toggle
                  (change)="createRequest($event)">
                  create offer
                </mat-slide-toggle>
                <pre *ngIf="created">{{created|json}}</pre>

                <mat-slide-toggle
                  (change)="updateRequest($event)">
                  update offer
                </mat-slide-toggle>

                <mat-slide-toggle
                  (change)="deleteRequest()">
                  delete offer
                </mat-slide-toggle>

            </div>
        </mat-card-content>
    </mat-card>
</div>



